# Environments
.venv/
venv/
ENV/
.env

# Python compilation files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Local databases and storage
*.db
*.sqlite
*.sqlite3
uploaded_papers/
chromadb_data/

# OS-specific files
.DS_Store
Thumbs.db
